<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	<script type="text/javascript" src="prism.js"></script>

	<pre  ng-prism  class="language-python"><code>
		


i = 0
i = raw_input("Enter number of test cases:")
x=[]

len1=[]
len2=[]
y="a"
for n in range(int(i)):
    y = raw_input("Enter website:")
    x.append(y)

x1=x
    
n=0    
for j in range(len(x)):
    x[j] = x[j][4:]
    x[j] = x[j][:-4]
    len1.append(int(len(x[j])))
    x1[j] = (x[j].replace('o',''))
    x1[j] = (x[j].replace('e',''))
    x1[j] =  (x[j].replace('i',''))
    x1[j] =  (x[j].replace('a',''))
    x1[j] =  (x[j].replace('u',''))    
    len2.append(int(len(x1[j])))

for j in range(len(x)):
    len1[j] = int(len1[j])+8
    len2[j] = int(len2[j])+4
    


for j in range(len(len1)):
    print str(len2[j]) +str("/") + str(len1[j])
    
    
        </code></pre>
  </body>
</html>		
