<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	<script type="text/javascript" src="prism.js"></script>

	<pre class="language-python"><code>


n = raw_input()
n = int(n)
x =[]
y=[]
z=[]

x = (raw_input())
xint = map(int,x)


    
for i in range(n):
    if int(xint[i])%2==1.0:
        y.append(xint[i])
    else:
        z.append(xint[i])

y.sort()
z.sort(reverse = True)

print y
print z


        </code></pre>
  </body>
</html>		
