<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	<script type="text/javascript" src="prism.js"></script>

	<pre class="language-python"><code>



n = raw_input()


l = len(n)
c = 0
i = 0


for i in range(l):
    if n[i] == '0':
        c = c+6
    elif n[i] == '1':
        c= c+2
        
    elif n[i] == '2':
        c= c+5
    elif n[i] == '3':
        c= c+5
    elif n[i] == '4':
        c= c+4
    elif n[i] == '5':
        c= c+5
    elif n[i] == '6':
        c= c+6
    elif n[i] == '7':
        c= c+3
    elif n[i] == '8':
        c= c+7
    elif n[i] == '9':
        c= c+6
        
print c
    
    
        </code></pre>
  </body>
</html>		
    
