<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	<script type="text/javascript" src="prism.js"></script>

	<pre class="language-python"><code>



n = raw_input()
k=[]
l=[]
r=[]

for i in range(int(n)):
    a = raw_input()
    k.append(a)
    l.append(len(a))
    r.append(a[::-1])

i = 1
for i in range(int(n)):
    
    for j in range(int(n)):
        if k[i] == r[j]:
            b = k[i][1:-1]
            b = str(b)
            f=1
            
        
            
if f==1:
    print (str(l[i])+' '+str(k[i][(l[i]-1)/2]))
        
        
     
        </code></pre>
  </body>
</html>		
